#levelDesigner {
   position: absolute;
   width: 100%;
   left: 0;
   bottom: 0;
   background: radial-gradient(
      circle,
      #0d0098 0%,
      #03001f 100%
   );
   border: solid 1px #ffffff;
   border-top: none;
   display: none;
   padding: calc(var(--gap) * 4);
   row-gap: calc(var(--gap) * 5);
   border-top: solid 1px #0d0098;
   z-index: 4;

   &.active {
      display: grid;
   }

   p {
      position: relative;
      color: #fff;
      font-family: f1b;
      padding: calc(var(--gap));
      font-size: calc(var(--s) * 0.5);
   }

   .selection {
      position: relative;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      z-index: 3;

      .names {
         position: relative;
         display: grid;
         width: 100%;
         grid-template-columns: 1fr 1fr;
         place-items: center;
      }

      .options {
         position: relative;
         display: grid;
         width: 100%;
         grid-template-columns: repeat(5, 1fr);
         place-items: center;

         .option {
            position: relative;
            width: calc(var(--s));
            height: calc(var(--s) * 0.75);
            display: grid;
            place-items: center;
            border-radius: 6px;
            box-shadow: 0 2px 5px #000000, 0 1px 3px #000000;
            opacity: 0.4;
            transition: ease-in-out box-shadow 200ms, ease-in-out opacity 200ms;
            cursor: var(--cursor);

            &::before {
               position: absolute;
               content: "";
               width: calc(100% + 8px);
               height: calc(100% + 8px);
               background: transparent;
               border-radius: inherit;
               z-index: -1;
               transition: ease-in-out background 200ms;
            }

            &.active::before,
            &:hover::before {
               background: #000000;
            }

            &.active,
            &:hover {
               box-shadow: 0 1px 2px #000000;
               opacity: 1;
            }

            .block {
               position: relative;
               width: 100%;
               height: 100%;
               border-radius: 5px;
               display: flex;
               justify-content: center;
               color: #ffffff;
               background: #ffffff;
               font-family: f7;
               font-size: calc(var(--s) * 0.5);
               text-shadow: 0 1px 1px #000000;

               &:not(.no-effect)::after {
                  --offset: 2px;
                  position: absolute;
                  content: "";
                  height: 55%;
                  width: calc(100% - var(--offset) * 2);
                  background: #fff3;
                  top: var(--offset);
                  border-radius: 4px;
               }
            }
         }
      }

      &:nth-child(1) .options .option {
         .block {
            border-width: 1.5px;
            border-style: solid;
         }

         &:nth-child(1) .block {
            background: var(--color1-bg);
            border-color: var(--color1-br);
         }

         &:nth-child(2) .block {
            background: var(--color2-bg);
            border-color: var(--color2-br);
         }

         &:nth-child(3) .block {
            background: var(--color3-bg);
            border-color: var(--color3-br);
         }

         &:nth-child(4) .block {
            background: var(--color4-bg);
            border-color: var(--color4-br);
         }

         &:nth-child(5) .block {
            background: var(--color5-bg);
            border-color: var(--color5-br);
         }
      }

      &:nth-child(2) .options {
         grid-template-columns: 1fr 1fr;

         .option:last-child > i {
            display: grid;
            place-items: center;
            color: #ff0000;
            font-size: calc(var(--s) * 0.7);
         }
      }
   }

   .buttons {
      position: relative;
      padding: var(--gap);
      display: flex;
      justify-content: space-evenly;

      .btn {
         position: relative;
         border: none;
         padding: 0;
         outline: 0;
         width: calc(var(--s));
         height: calc(var(--s) * 0.8);
         font-size: calc(var(--s) * 0.5);
         border-radius: var(--gap);
         cursor: var(--cursor);
         background: #333333;
         box-shadow: 0 1px 2px #000000;
         border: solid 1px #555555;
         transition: ease-in-out 200ms background;

         &:hover {
            background: #666666;
         }

         & > i {
            position: relative;
            height: 100%;
            width: 100%;
            display: grid;
            place-items: center;
            font-size: calc(var(--s) * 0.5);
            text-shadow: 0 1px 1px #000000;
         }
         &:has(:first-child, :nth-child(2)) > i {
            color: #7c90ff;
         }
         &:nth-child(3) > i {
            color: #bbf9ff;
            font-size: calc(var(--s) * 0.6);
         }
         &:nth-child(4) > i {
            color: #ff0000;
         }
      }
   }
}
