* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   font-family: f3;

   /* outline: solid 1px #f00; */
}

::-webkit-scrollbar {
   display: none;
}

:root {
   --window-width: 100svw;
   --window-height: 100svh;
   --level-s: 90px;
   --cursor: auto;
   --gap: 5px;
   --s: 0;
   --rows: 9;
   --cols: 10;
   --pScale: 0.6;
   --ball-r: 12px;

   --color1-bg: linear-gradient(#00f7ff, #006caf);
   --color1-br: #4ffffc;
   --color2-bg: linear-gradient(#eeff01, #986300);
   --color2-br: #fcff59;
   --color3-bg: linear-gradient(#04ef00, #03a900);
   --color3-br: #3bff48;
   --color4-bg: linear-gradient(#b773ff, #7028e4);
   --color4-br: #af4eff;
   --color5-bg: linear-gradient(#ff0844, #ff7e9e);
   --color5-br: #ff20c4;
   --color6-bg: linear-gradient(#b0b7c1, #eaeaea);
   --color6-br: #ffffff;

   --main-bg: radial-gradient(circle, #0d0098 0%, #03001f 100%);
   --bg-transparent: linear-gradient(
      to right,
      #00000000,
      rgba(0, 0, 0, 0.3),
      #00000000,
      #00000000
   );
}

body {
   position: relative;
   min-height: 100svh;
   width: 100svw;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url(../src/img/bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   overflow: hidden;

   /* touch-action: none;
   -ms-touch-action: none;
   -webkit-touch-callout: none;
   -ms-touch-select: none; */
}
.tool-tip-text {
   display: none;
}
@media (hover: hover) and (pointer: fine) {
   .tool-tip-text {
      position: absolute;
      visibility: hidden;
      width: calc(var(--s) * 2.5);
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: calc(var(--gap) * 0.6);
      border-radius: 6px;
      padding: var(--gap);
      z-index: 10;
      bottom: 150%;
   
      i, i > * {
         color: #000000;
         font-size: calc(var(--s) * 0.25);
      }

      &::after {
         content: "";
         position: absolute;
         top: 100%;
         left: 50%;
         margin-left: -5px;
         border-width: 5px;
         border-style: solid;
         border-color: #ffffff transparent transparent transparent;
      }
   }
   
   
   *:has(> .tool-tip-text):hover .tool-tip-text {
      visibility: visible;
   }
}



main {
   position: relative;
   width: calc(var(--window-width));
   height: calc(var(--window-height));
   background: rgba(62, 62, 62, 0.6);
   border-radius: calc(var(--s) * 0.1);
   box-shadow: inset 0 0 5px #00000077;
   outline: solid 1px #fff7;
   border-radius: calc(var(--s) * 0.1);
   overflow: hidden;

   #mainCanvas {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      display: block;
      cursor: move;
      background: #000000;
      opacity: 0;
      z-index: 4;
      transition-duration: 300ms;
      transition-property: bottom opacity;
      transition-timing-function: linear;
      
      &.active {
         opacity: 1;
         bottom: 0;
         pointer-events: all;
      }
   }

   #showGameStatus {
      position: absolute;
      width: 100%;
      bottom: calc(var(--s) * 0.12);
      display: none;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      padding: 0 calc(var(--s) * 0.2);

      pointer-events: none;
      touch-action: none;
      -ms-touch-action: none;
      -webkit-touch-callout: none;
      z-index: 5;

      &.active {
         display: grid;
      }


      #showHealths {
         position: relative;
         display: flex;
         gap: calc(var(--s) * 0.1);
   
         i {
            position: relative;
            display: none;
            color: #ff0000;
            font-size: calc(var(--s) * 0.4);
            text-shadow: 0 0 2px #000, 0 0 5px #000;
         }
         
         &.s1 i:first-child,
         &.s2 i:is(:first-child, :nth-child(2)),
         &.s3 i {
            display: block;
         }
      }
      
      #showCountDowns {
         position: relative;
         width: 100%;
         height: 100%;
         display: grid;
         place-items: center;

         span {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            
            p {
               position: absolute;
               font-size: calc(var(--s) * 3);
               top: calc(var(--window-height) * -1.5);
               transform: translateY(-50%);
               font-family: f1b;
               color: #f00;
               background: -webkit-linear-gradient(#ff0084, #ffe100);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               transition: ease-in-out top;
               transition-duration: 0ms;
            }
         }

         &.gameWin span:first-child p,
         &.gameOver span:nth-child(2) p,
         &.s1 span:nth-child(3) p,
         &.s2 span:nth-child(4) p,
         &.s3 span:last-child p {
            top: calc(var(--window-height) / -2);
            transition-duration: 400ms;
         }

         &.gameWin span:first-child p,
         &.gameOver span:nth-child(2) p {
            top: calc(var(--window-height) / -3);
            font-size: calc(var(--s) * 2);
         }
      }

      #showTime {
         position: relative;
         justify-content: flex-end;
         display: none;
         font-size: calc(var(--s) * 0.4);
         text-shadow: 0 0 2px #000;

         &.active {
            display: flex;
         }

         p {
            color: #fff;
         }
         span {
            color: #ffaa00;
            font-weight: 900;
         }
      }

   }


}

#mobileErr {
   position: fixed;
   z-index: 1000;
   color: #000000;
   min-width: auto;
   min-height: 30px;
   max-width: 100vw;
   max-height: 50vh;
   background-color: #fff;
   display: flex;
}