* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   font-family: f3;

   /* outline: solid 1px #f00; */
}

:root {
   --window-width: 100svw;
   --window-height: 100svh;
   --level-s: 90px;
   --cursor: auto;
   --gap: 5px;
   --s: 0;
   --rows: 9;
   --cols: 10;
   --pScale: 0.6;

   --color1-bg: #00bcb9;
   --color1-br: #4ffffc;
   --color2-bg: #bfc200;
   --color2-br: #fcff59;
   --color3-bg: #00d00e;
   --color3-br: #3bff48;
   --color4-bg: #8c00ff;
   --color4-br: #af4eff;
   --color5-bg: #ff005d;
   --color5-br: #ff4e8f;
}

body {
   position: relative;
   min-height: 100svh;
   width: 100svw;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url(../src/img/bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   overflow: hidden;
}

.tool-tip-text {
   position: absolute;
   visibility: hidden;
   width: 100px;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: calc(var(--gap) * 0.6);
   border-radius: 6px;
   padding: var(--gap);
   z-index: 5;
   bottom: 150%;
   left: 50%;
   margin-left: -50px;

   i {
      color: #000000;
      font-size: calc(var(--s) * 0.25);
   }
}

.tool-tip-text::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #ffffff transparent transparent transparent;
}

*:has(> .tool-tip-text):hover .tool-tip-text {
   visibility: visible;
}

main {
   position: relative;
   width: calc(var(--window-width));
   height: calc(var(--window-height));
   background: rgba(100, 100, 100, 0.3);
   backdrop-filter: blur(3px);
   -webkit-backdrop-filter: blur(3px);
   border-radius: calc(var(--s) * 0.1);
   box-shadow: inset 0 0 5px #00000077;
   overflow: hidden;

   #myCanvas {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      transition: ease-in-out 300ms bottom;
      display: block;
      border: 1px solid #ffffff;
      z-index: 2;
      border-radius: calc(var(--s) * 0.1);

      &.active {
         bottom: 0;
      }
   }
}

#mobileErr {
   position: fixed;
   z-index: 1000;
   color: #000000;
   min-width: 100px;
   min-height: 30px;
   max-width: 100vw;
   max-height: 50vh;
   background-color: #fff;
}