#gameMode {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;

   #selectMode {
      position: relative;
      width: 100%;
      height: var(--s);
      padding: 0 calc(var(--s) / 2);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: end;
      overflow: hidden;

      .mode {
         position: relative;
         width: 100%;
         height: 90%;
         display: grid;
         place-items: center;
         background: transparent;
         border-top-left-radius: calc(var(--s) / 8);
         border-top-right-radius: calc(var(--s) / 8);
         z-index: 2;
         cursor: var(--cursor);

         p {
            color: #999;
            text-shadow: 0 0 1px #000;
            font-family: f5b;
            font-size: calc(var(--s) / 2);
         }

         &.active {
            outline: solid 10000px #080064;
            border-style: solid;
            border-color: #fd025e #000 transparent #000;
            border-width: 1px;
            z-index: 1;
         }

         &.active p {
            color: #ffffff;
         }
      }
   }

   #modeType {
      position: relative;
      width: 300%;
      height: 100%;
      display: grid;
      left: 0;
      grid-template-columns: repeat(3, 1fr);
      transition-duration: 0;
      transition-property: left;
      transition-timing-function: linear;
      overflow-x: scroll;
      overflow-y: hidden;

      .map#localMode {
         position: relative;
         width: 100%;
         min-height: 100%;
         max-height: auto;
         display: grid;
         place-items: center;
         gap: calc(calc(var(--s) * 1.5) / 4);
         margin-top: calc(calc(var(--s) * 1.5) / 8);
         padding: 0 calc(calc(var(--s) * 1.5) / 4);
         padding-bottom: calc(calc(var(--s) * 1.5));
         grid-template-columns: repeat(
            auto-fill,
            minmax(calc(var(--s) * 2.5), 1fr)
         );
         grid-auto-rows: calc(var(--s) * 2.5);
         z-index: 1;
         overflow-y: scroll;
         overflow-x: hidden;

         .level {
            position: relative;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, #0d0098 0%, #03001f 100%);
            display: grid;
            grid-template-rows: 75% 1fr;
            place-items: center;
            border-radius: 10%;
            box-shadow: 0 calc(var(--s) * 0.2) calc(var(--s) * 0.3) #000000;
            border: solid calc(var(--s) * 0.03) #0a0076cc;
            overflow: hidden;
            cursor: var(--cursor);

            div {
               pointer-events: none;
            }

            .top {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 20%;
               display: flex;
               justify-content: space-between;
               z-index: 2;

               .hashtag,
               .is-lock-or-complete {
                  position: relative;
                  height: min-content;
                  display: flex;
                  top: 0;
                  padding: calc(var(--s) * 0.05);
                  margin: calc(var(--s) * 0.05);
               }
               i {
                  text-shadow: 0 1px 1px #000000;
               }

               .hashtag {
                  left: 0;
                  overflow: hidden;
                  height: auto;
                  font-size: calc(var(--s) * 0.3);

                  i {
                     color: #ffd979;
                     font-size: calc(var(--s) * 0.4);
                  }
                  p {
                     font-family: f7;
                     color: #00f2ff;
                     text-shadow: 0 1px 1px #000000;
                  }
               }

               .is-lock-or-complete {
                  position: relative;
                  right: 0;

                  i {
                     display: none;
                  }
                  .lock {
                     color: #ff3c00;
                     font-size: calc(var(--s) * 0.7);
                  }
                  .check {
                     color: #1eff00;
                     font-size: calc(var(--s) * 0.35);
                  }

                  &::before {
                     position: absolute;
                     content: "";
                     width: 100vw;
                     height: 100vh;
                     right: -10vw;
                     top: -10vh;
                     background: rgba(0, 0, 0, 0.9);
                     z-index: 3;
                  }
               }
            }

            .icon-and-no {
               position: relative;
               width: 100%;
               height: 100%;
               display: grid;
               justify-items: center;
               align-items: end;

               i {
                  font-size: calc(var(--s) * 1.6);
                  color: #ff8000;
                  transform: translate(0, calc(var(--s) * 0.1));
                  text-shadow: 0 calc(var(--s) * 0.1) calc(var(--s) * 0.2)
                     #ff3c00;
               }

               .no {
                  position: absolute;
                  bottom: 0;
                  color: #ffd979;
                  font-size: calc(var(--s) * 0.9);
                  text-shadow: 0 2px calc(var(--s) * 0.07) #000000;
                  font-family: f7;
                  font-weight: 900;
               }
            }

            .complete-time {
               position: relative;
               display: flex;
               padding: calc(var(--s) * 0.1) calc(var(--s) * 0.2);
               background: rgba(0, 0, 0, 0.6);
               border-radius: calc(var(--s) * 0.2);
               font-size: calc(var(--s) * 0.3);

               i {
                  margin-right: calc(var(--s) * 0.1);
                  color: #ffffff;
                  position: relative;
                  display: grid;
                  place-items: center;
               }
               p {
                  color: #00f2ff;
               }
               span {
                  color: #ff0084;
                  font-weight: 900;
               }
            }

            &.lock .is-lock-or-complete .lock {
               display: block;
               z-index: 4;
            }
            &.complete .is-lock-or-complete .check {
               display: block;
            }

            &:not(.lock) .is-lock-or-complete {
               &::before {
                  background: transparent;
               }
            }

            &:not(.complete) .complete-time,
            &:not(.complete) .hashtag * {
               display: none;
            }
         }
      }

      .map:is(#onlineMode, #createMode) {
         position: relative;
         width: 100%;
         min-height: 100%;
         max-height: auto;
         display: grid;
         place-items: center;
         gap: calc(calc(var(--s) * 1.5) / 4);
         margin-top: calc(calc(var(--s) * 1.5) / 8);
         padding: 0 calc(calc(var(--s) * 1.5) / 4);
         padding-bottom: calc(calc(var(--s) * 1.5));
         grid-template-columns: 1fr 1fr;
         grid-auto-rows: calc(var(--s) * 4);
         z-index: 1;
         overflow-y: scroll;
         overflow-x: hidden;

         .level {
            --lvaCvs-h: calc(var(--s) * var(--cols) * 0.4);

            position: relative;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, #0d0098 0%, #03001f 100%);
            display: grid;
            grid-template-rows: var(--lvaCvs-h) auto;
            place-items: center;
            border-radius: calc(var(--s) * 0.2);
            box-shadow: 0 calc(var(--s) * 0.2) calc(var(--s) * 0.3) #000000;
            border: solid calc(var(--s) * 0.03) #0a0076cc;
            overflow: hidden;
            cursor: var(--cursor);
            z-index: 2;

            .levelCvs {
               position: relative;
               width: 100%;
               height: 100%;
            }


            .details {
               .creator {
                  position: absolute;
                  bottom: 0;
                  font-family: f8b;
                  font-size: calc(var(--s) * 0.3);
                  background: rgba(96, 43, 0, 0.7);
                  border-radius: 10%;
                  color: #00fffb;
                  background: -webkit-linear-gradient(45deg, #4dff00, #58eeff);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
               }
               .id {
                  position: absolute;
                  bottom: calc(var(--s) * 0.2);
                  color: #ffd979;
                  font-size: calc(var(--s) * 0.6);
                  text-shadow: 0 2px calc(var(--s) * 0.1) #000000;
                  font-family: f9;
                  font-weight: 900;
               }

               .playCount {
                  position: absolute;
                  left: calc(var(--s) * 0.16);
                  bottom: calc(var(--s) * 0.07);
                  display: flex;
                  font-size: calc(var(--s) * 0.3);
                  gap: calc(var(--s) * 0.1);
         
                  i {
                     color: #00fffb;
                  }
                  p {
                     color: #fff;
                  }
               }
            }
         }

         


         /* &#createMode .icon-and-no .no {
            position: absolute;
            transform: translateY(calc(var(--s) * 0.8));
            bottom: auto;
            color: #ff8400;
            font-size: calc(var(--s) * 2.8);
            text-shadow: 0 2px calc(var(--s) * 0.1) #000000;
         } */
      }

      .map:has(#localMode, #createMode) .creator {
         display: none;
      }


   }
}
