*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  touch-action: none;
  font-family: Arial, Helvetica, sans-serif;
  -ms-oveflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
  cursor: auto;
  /* outline: solid 1px #f00; */
}
::-webkit-scrollbar {
  display: none;
}

:root {
  --winWidth: 100vw;
  --winHeight: 100vh;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: rgb(40, 42, 56);
}

#option {
  position: relative;
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 5fr 15fr 5fr;
  place-items: center;
}
#option #pous-icon {
  font-size: 1.7rem;
}
#helth-icon,
#score-icon {
  display: flex;
  color: #fff;
  font-size: 1.5rem;
  gap: 3px;
}
#helth-icon p,
#score-icon p {
  transform: translateY(3px);
}
canvas {
  position: absolute;
  top: 40px;
  border-radius: 5px;
  border: solid 3px #00ff00;
  border-bottom: solid 3px #f00;
}

#rs-window,
#win-window {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: -10;
  opacity: 0;
  transition: linear 0.3s all;
}
#rs-window.active,
#win-window.active {
  opacity: 1;
  transition: linear 0.3s all;
  z-index: 10;
}
.box {
  position: relative;
  width: 250px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  background: #fff;
  backdrop-filter: blur(3px);
  padding: 5px;
  place-items: center;
}
.box #go-title {
  font-weight: 900;
  font-size: 1.2rem;
}
.box p {
  width: 50%;
  height: 50%;
  display: flex;
  color: #000;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.box p #score-r {
  margin-left: 3px;
  color: #ff9000;
}
#rs-window .box #rs-r {
  width: 70%;
  height: 50%;
  display: flex;
  color: #fff;
  text-shadow: 0 0 2px #000;
  background: #ff9000;
  box-shadow: 0 3px 5px #000;
  border-radius: 10px;
  border-bottom: solid 4px #f94000;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: linear 0.1s;
}
#rs-window .box #rs-r:hover {
  font-size: 1.1rem;
}

/* ------------ win button ------------- */
#win-window .box {
  padding: 5px;
  display: grid;
  grid-template-rows: 2fr 2fr 4fr;
}

#win-window .box .win-title {
  font-weight: 900;
  font-size: 1.5rem;
}

#win-window .box p {
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
}

#win-window .box p x {
  margin-left: 3px;
  color: #ff9000;
}
#win-window .box span {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

#win-window .box span div {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px 4px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 2px #000;
  background: #ff9000;
  box-shadow: 0 3px 5px #000;
  border-radius: 10px;
  border-bottom: solid 4px #f94000;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  transition: linear 0.1s;
}

#level-window {
  transition: linear 0.5s;
  transform: translateY(calc(var(--winHeight) * 1.1));
  z-index: 101;
}

#level-window.active {
  position: fixed;
  inset: 0;
  width: var(--winWidth);
  height: var(--winHeight);
  background: rgba(40, 42, 56, 1);
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: linear 0.5s;
  transform: translateY(0px);
}
#level-window.active .title {
  position: absolute;
  font-size: 2.2rem;
  font-weight: 900;
  z-index: -1;
  color: transparent;
  animation: animateTxt linear 5s infinite;
}
@keyframes animateTxt {
  0% {
    background: transparent;
  }
  60% {
    background: transparent;
  }
  77.5% {
    background: transparent;
  }
  80% {
    background: linear-gradient(
      #ff00bf,
      #00000000,
      #00000000,
      #00000000,
      #00000000
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  82.5% {
    background: linear-gradient(
      #1100ff,
      #ff00bf,
      #00000000,
      #00000000,
      #00000000
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  85% {
    background: linear-gradient(
      #00ffe1,
      #1100ff,
      #ff00bf,
      #00000000,
      #00000000
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  87.5% {
    background: linear-gradient(#00ff00, #00ffe1, #1100ff, #ff00bf, #00000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: linear-gradient(#ffb700, #00ff00, #00ffe1, #1100ff, #ff00bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  92.5% {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#00000000, #ffb700, #00ff00, #00ffe1, #1100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  95% {
    background: linear-gradient(
      #00000000,
      #00000000,
      #ffb700,
      #00ff00,
      #00ffe1
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  97.5% {
    background: linear-gradient(
      #00000000,
      #00000000,
      #00000000,
      #ffb700,
      #00ff00
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(
      #00000000,
      #00000000,
      #00000000,
      #00000000,
      #ffb700
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#level-window #scroll-list {
  position: relative;
  margin: 20px;
  width: calc(var(--winWidth) - 40px);
  height: calc(var(--winHeight) - 40px);
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #00000077;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: 120px;
  overflow-y: scroll;
  z-index: 1;
}
#scroll-list .level {
  position: relative;
  margin: auto;
  width: 90px;
  height: 90px;
  border-radius: 25px;
  background: #000000aa;
  border-bottom: solid 5px #000;
  display: grid;
  place-items: center;
}
#scroll-list .level span {
  position: absolute;
  transform: translateY(-1px);
  font-size: 70px;
}
#scroll-list .level p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 3px #000, 0 0 1px #000, 0 0 6px #000;
  border-radius: 100px;
}

.hover-n, .hover-n::after, .hover-n::before {
  transition: 0.2s linear;
  transform: scale(1);
}
.hover, .hover::after, .hover::before {
  transition: 0.2s linear;
  transform: scale(0.9);
}

.hover-n span,
.hover p {
  transition: 0.2s linear;
  transform: scale(1);
}
.hover span,
.hover p {
  transition: 0.2s linear;
  transform: scale(0.9);
}
#setting {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 10px;
  border-radius: 100px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  border: solid 1px #000;
  box-shadow: 0 0 3px #000;
  backdrop-filter: blur(3px);
  cursor: auto;
  z-index: 2;
}
#setting #setting-window {
  position: absolute;
  width: 300px;
  min-height: 200px; 
  right: calc(50vw - 160px);
  bottom: calc(50vh - 105px);
  display: grid;
  grid-template-rows: 10fr 8fr 8fr 2fr;
  place-items: center;
  border-radius: 15px;
  box-shadow: 0 2px 5px #000;
  border: solid 1px #999999;
  background: rgba(40, 42, 56, 0.99);
  backdrop-filter: blur(3px);
  scale: 0;
  transition: 0.3s linear scale;
}
#setting.active #setting-window {
  scale: 1;
}
#setting-title {
  position: relative;
  width: 90%;
  text-align: center;
  padding: 5px;
  background:#282b38;
  text-transform: uppercase;
  color: #ffffff;
  display: grid;
  grid-template-columns: 10fr 1fr;
  border-bottom: solid 1px #999999;
}
#setting-title #setting-close {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: #ffffff33;
  display: grid;
  place-items: center;
  z-index: 2;
}
#setting-close::after, #setting-close::before {
  position: absolute;
  content: '';
  width: 10%;
  height: 80%;
  border-radius: 5px;
  background: #ff0000;
  rotate: 45deg;
}

#setting-close::after {
  rotate: -45deg;
}
#setting-title #setting-open {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background: #ffffff33;
}

.audio-opt, .gyro-opt {
  position: relative;
  width: 200px;
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  place-items: center;
}

.audio-opt p, .gyro-opt p {
  font-size: 1.5rem;
  color: #ffffff;
}

.audio-opt span, .gyro-opt span {
  position: relative;
  border-radius: 100px;
  display: block;
  z-index: -1;
  font-size: 1.8rem;
}
.audio-opt span:last-child,
.audio-opt.active span:first-child,
.gyro-opt span:first-child,
.gyro-opt.active span:last-child {
  display: block;
}

.audio-opt span:first-child,
.audio-opt.active span:last-child,
.gyro-opt span:last-child,
.gyro-opt.active span:first-child {
  display: none;
}

/* ----- loading animation ------ */
#loading-window.active {
  z-index: 1000;
  opacity: 1;
}
#loading-window {
  position: fixed;
  inset: 0;
  width: var(--winWidth);
  height: var(--winHeight);
  background: #282a38;
  opacity: 0;
  z-index: -100;
  display: grid;
  transition: 0.3s ease-out;
  place-items: center;
}

#loading-window #loadeing-circle {
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(1.5);
}
.lds-roller p {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller p:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller p:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller p:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller p:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller p:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller p:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller p:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller p:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller p:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller p:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller p:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller p:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller p:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller p:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller p:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller p:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller p:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.copy-r-l {
  position: absolute;
  bottom: 6%;
}

/* ---- draw icon ------ */
#touch-fild {
  display: none;
}
#touch-fild.active {
  position: fixed;
  inset: 0;
  width: var(--winWidth);
  height: var(--winHeight);
  background: #000000bb;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 10;
}

.play,
.pous {
  position: relative;
  width: 75px;
  height: 75px;
  background: linear-gradient(90deg, #b800a2, #008da5);
  display: none;
  place-items: center;
  border-radius: 10px;
  border: solid 2px #ff9000;
}

.pous {
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(90deg, #b800a2, #008da5);
  place-items: center;
  border-radius: 10px;
  border: solid 2px #ff9000;
  z-index: 1;
}

.play.active {
  display: grid;
}

.play::before {
  content: "";
  position: absolute;
  margin-left: 3px;
  scale: 1.5;
  width: 30px;
  height: 30px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-radius: 3px;
  border-left: 30px solid #00ffff;
}
.pous::before,
.pous::after {
  content: "";
  scale: 1.5;
  position: absolute;
  border-radius: 10px;
  left: 20px;
  width: 6px;
  height: 30px;
  background: #00ffff;
}
.pous::after {
  left: auto;
  right: 20px;
}

#touch-fild .audio-opt,
#loby-btn,
#restart-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 10px;
  left: 10px;
  border-radius: 100px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 0 0 1px #fff, 0 0 3px #fff;
  border: solid 1px #000;
  box-shadow: 0 0 3px #fff;
  backdrop-filter: blur(3px);
  z-index: 2;
}

#restart-btn {
  left: auto;
}

#touch-fild .audio-opt {
  right: 10px;
  left: auto;
  display: grid;
  place-items: center;
  padding: 4px;
}

color {
  color: #001aff;
  color: #4154ff;
}
